*{
	margin: 0;
	padding: 0;
}

.center{
    text-align: center;
    float: center;
    display: inline-block;
}

.center h1{
    margin-top: 3%;
}

.center p{
    width: 50px;
    border: 1px solid #000;
}

.circle{
    float: center;
    shape-outside: circle();
    margin: 30px;
}
