
  .App {
    width:400px;
    height: 400px;
    margin-left: 200px;
    align-content: center;
  }




  .center {
    padding: 10px;
    text-align: center;
    margin-bottom: -55px;
  }

  .final {
    color: black;
    padding-right: 3px;
  }

  .interim {
    color: gray;
  }

  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }


  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }


  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
    display: none;
  }

  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }

  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }

  #notesPod {
    background: magenta;
    height: 200px;
    width: 200px;
  }
#send_audio {
  float: right;

padding: 10px;
border: 1px solid #4b4570;
border-radius: 5px;
text-transform: uppercase;
border-radius: 10px;
background: white;
border: solid 1px #4b4570;
text-align: center;
box-shadow: 1px 4px 8px #888888;


}

.reply-buttons {
  position: relative;
  top: 35vh;
}
