@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

*{
    margin: 0;
    padding: 0;
    color: #4b4570;
    font-family: 'Roboto';
    box-sizing: border-box;
  }

  .chatbox{
    width: 40vw;
    min-width: 390px;
    height: 80vh;
    overflow-y: scroll;
    background: rgba(0,0,0,.1);
    padding: 25px;
    margin: 20px auto;
    box-shadow:  0 3px #ccc;
  }

  .chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
    background: #eee;
    overflow-x: hidden;
      overflow-y: scroll;
  }

  .chatlogs::-webkit-scrollbar{
    width: 10px;
  }

  .chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
  }

  .chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .chat .user-photo{
    width: 60px;
    height: 60px;
   background: #ccc;
   border-radius: 50%;
     overflow: hidden;
  }

  .chat .user-photo img{
    width: 100%;
    margin-right: 5px;
  }



  .chat .chat-message{
    width: 80%;
    padding: 17px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
  }

  .self .chat-message{
    background: #1ddced;
  }

  .friend .chat-message{
    background: #1adda4;
    order: -1;
  }

  .chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }

  .chat-form textarea{
    background: #fbfbfb;
    width: 75%;
    height: 50%;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;

  }

  .chat-form textarea:focus{
    background: #fff;
  }

  .chat-form textarea::-webkit-scrollbar{
    width: 10px;
  }

  .chat-form textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
  }

  .chat-form button{
    background: #1ddced;
    padding: 10px 30px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;

    -webkit--transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;


  }

  .chat-form button:hover{
    background: #13c8d9;
  }

  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .sound-wave{
      display:hidden;
      visibility: 0;
  }

.talk-container {
  display: flex;
  align-items: center;
}

#stop_convo {
  position: relative;
  top: 26vh;
  right: 14vw;
  padding: 10px;
border: 1px solid #4b4570;
border-radius: 5px;
text-transform: uppercase;
border-radius: 10px;
background: white;
border: solid 1px #4b4570;
text-align: center;
box-shadow: 1px 4px 8px #888888;
  
}